.left{
   margin-bottom: 100px;
   width: 20%;
}

.leftside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px 10px 10px;
  margin-top: 3%;
  border-radius: 3%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.left_image {
  width: 300px;
  height: 70px;
}

.avatar {
  position: relative;
  bottom: 40px;
  border: solid 2px white;
}

.views {
  color: blue;
}

.detail {
  position: relative;
  bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgb(197, 185, 185);
  text-align: center;
  align-items: center;
  width: 400px;
}

.items {
  display: flex;
  justify-content: start;
  width: 250px;
  padding-bottom: 10px;
}

.profile {

  text-align: center;
  width: 400px;
  padding-bottom: 10px;
  position: relative;
  bottom: 30px;
  border-bottom: solid 1px rgb(196, 193, 193);
}

.view{
  position: relative;
  bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgb(233, 214, 214);
  text-align: center;
  align-items: center;
  width: 400px;
}

.left1{
  display: flex;
  flex-direction: column;
  padding: 0px 10px 10px 10px;
  margin-top:10px;
  border-radius: 3%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.pages{
  display: flex;
  margin-top: 20px;
}

.page_notification{
  display: flex;
}

.num{
  color: rgb(90, 90, 255);
  display: flex;
  width: 70px;
  justify-content: end;
}

.work_details{
  display: flex;
  align-items: center;
  line-height: 20px;
}

.events{
  display: flex;
  justify-content: space-between;
}

.show{
  display: flex;
  width: 50px;
}

.groups{
  color: rgb(90, 90, 255);
}

.left2{
  display: flex;
  flex-direction: column;
  padding: 0px 10px 10px 10px;
  margin-top:10px;
  border-radius: 3%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  line-height: 36px;
}

.discover{
  border-top: 1px solid black;
  text-align: center;
  margin-top: 10px;
}